/* 
    Created on : 08 May 2018, 10:52:35 AM
    Author     : matjele7@gmail.com
*/
body{
    background-image: url("../images/lingerie_004691.png");
    
}
#heading{
    color: maroon;
    font-weight: bold;
}
#heading2{
    color: black;
    font-weight: bold;
    font-size: 12pt;
}
#list{
    color: plum;
    font-size: 10pt;
    font-weight: bold;
}
#price{
    color:navy;
    font-weight: bold;
    font-size: 12pt;
    
}
